* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    background-repeat: repeat;
    margin: 0;
  }
  
  .search-form {
    height: 55px;
    font: inherit;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5235f7;
    position: fixed;
    width: 100%;
  }
  
  input {
    
    border-color: transparent;
    height: 100%;
  }
  
  button {
    margin-left: 10px;
    padding: 7px;
    height: 100%;
   
  }
  
  button:hover {
    border-radius: 5px;
    background-color: rgb(180, 185, 255);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 40px;
    justify-content: center;
  }
  
  .wrapper-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  
  .photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 30px;
    width: calc((100% / 4) - 40px);
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.53);
  }
  
  .photo-card:hover {
    background-color: #9cade4;
    transition: all ease-in-out 0.2s;
  }
  
  img {
    width: 100%;
    height: 250px;
    transition: transform 400ms ease-out;
    border-radius: 2px;
    object-fit: cover;
  }
  
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .info-item {
    text-align: center;
    font-size: 14px;
  }
  
  p {
    display: flex;
    flex-direction: column;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }